# Vigneshwar Day-3 02/12/2022

Day-3 Pandas libray part-1

Topics Covered Today - Vigneshwar 

List item
 1.Introduction
 2.Fast and Efficient
 3.In-Memory
 4.Easy to handle missing data
 5.Easy for Data Manipulation
 6.Supports operations like aggregation, groupby, reshape, pivot, insertion, deletion and lot more
 7.Supports Timeseries conversion
 8.Creating DF
 9.Reading Data ffrom different Sources
 10.Writing a DF to a CSV file
 11.basic Functions

In [1]:
##Import Pandas Library and name it as pd
import pandas as pd

# Creating an empty DF

In [2]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

# Creating Custom DataFrame

Single Column DF

In [3]:
companies=["Metaverse","Google","Microsoft","Tesla"]
print(companies)
df_companies=pd.DataFrame(companies)
print(df_companies)

['Metaverse', 'Google', 'Microsoft', 'Tesla']
           0
0  Metaverse
1     Google
2  Microsoft
3      Tesla

In [4]:
companies=[["Metaverse","Meta",200],["Google","Alphabet",700],["Microsoft","MSFT",500],["Tesla","TSLA",1000]]
print(companies)
df_companies=pd.DataFrame(companies,columns=['Company',"Shortcut","Price"])
print(df_companies)

[['Metaverse', 'Meta', 200], ['Google', 'Alphabet', 700], ['Microsoft', 'MSFT', 500], ['Tesla', 'TSLA', 1000]]
     Company  Shortcut  Price
0  Metaverse      Meta    200
1     Google  Alphabet    700
2  Microsoft      MSFT    500
3      Tesla      TSLA   1000

In [5]:
pd.DataFrame({"Apple": ["IPhone", "Ipad","Imac"], "Tesla": ["Model S", "Model E","Model X"]})

    Apple    Tesla
0  IPhone  Model S
1    Ipad  Model E
2    Imac  Model X

In [6]:
pd.DataFrame({"Apple": ["IPhone", "Ipad","Imac"], "Tesla": ["Model S", "Model E","Model X"]},index=["prod_1","prod_2","prod_3"])

         Apple    Tesla
prod_1  IPhone  Model S
prod_2    Ipad  Model E
prod_3    Imac  Model X

Basic operation

In [9]:
companies3 = [["Apple",111],["Facebook",222],["Google",333], ["Amazon", 444], ["Tesla", 555], ["Zoom", 666], ["Microsoft", 777]]
df_companies3 = pd.DataFrame(companies3,columns=['Company','Seq'])
#df_companies3.head()
df_companies3.tail(2)

     Company  Seq
5       Zoom  666
6  Microsoft  777

In [10]:
print(df_companies3.T)

             0         1       2       3      4     5          6
Company  Apple  Facebook  Google  Amazon  Tesla  Zoom  Microsoft
Seq        111       222     333     444    555   666        777

In [11]:
print(df_companies3.ndim)
print(df_companies3.shape)
print(df_companies3.size)

2
(7, 2)
14

further query
contact: https://www.linkedin.com/in/vigneshwar2103/